<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>Blog</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/blog.css">
  </head>
  <body>
    <h1>New Post</h1>
    <form method="post">
      <label>
        <div>subject</div>
        <input type="text" name="subject" value="{{subject}}">
      </label>
      <label>
        <div>blog</div>
        <textarea name="content">{{content}}</textarea>
      </label>
      <label>
        <input type="text" name="ip_address" value="{{ip_address}}">
      </label>
      <div class="error">{{error}}</div>
      <input type="submit">
    </form>
  </body>
</html>
